@if (countriesService.loading()) {
<div class="flex justify-center">
  <app-loading-spinner />
</div>
} @else if (countriesService.error()) {
<app-error [message]="countriesService.error()" />
} @else {
<section>
  <app-country-search (queryChange)="searchService.setQuery($event)" />

  <app-country-list
    [countries]="countriesService.countries()"
    [paginationPage]="page()"
    (countryClicked)="router.navigate(['country', $event.cca2.toLowerCase()])"
  />

  @if (countriesService.countries().length) {
  <div class="flex justify-center">
    <pagination-controls (pageChange)="page.set($event)" />
  </div>
  }
</section>
}
